<html>
<title>
    Catalogo de Funcionarios
</title>

<body>
    
    <h1>Dados do Funcionario</h1>

    <form action="/cadastro" method="POST">
        <p>Documento <input type="text" name="id"></p>
        <p>Nome <input type="text" name="nome"></p>
        <p>Data Nascimento <input type="text" name="nascimento"></p>
        <p>Função <input type="text" name="funcao"></p>
        <p><input type="submit" value="Submit"></p>
    </form>

</body>

</html>